html {
    box-sizing: border-box;
    margin: 0;
}

body {
        background-image: url('./img/footprints.png');
        background-repeat: repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.app {
    height: 568px;
    width: 320px;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*////////////////////  HEADER ////////////////*/


.header {
    background-color: yellowgreen;
    height: 75px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header > nav {
    position: relative;
    float: left;
}

.header > nav > button {
    background-color: beige;
    height: 75px;
    width: 75px;
    border: none;
    cursor: pointer;
}

.menu-links {
    display: none;
    position: absolute;
    background-color: beige;
    width: 175px;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    padding: 0;
}

.menu-links > li {
    padding: 24px 15px;
    list-style-type: none;
    border: 2px solid beige;
}

.menu-links > li > a {
    text-decoration: none;
    color: black;
}

.menu-bg {
    display: none;
    position: absolute;
    background-color: black;
    opacity: .7;
    width: 320px;
    height: 493px;
    top: 75px;
}

.menu-links.show, .menu-bg.show {
    display: block;
}

.header .steps {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.step {
    height: 50px;
    width: 50px;
    border-radius: 90%;
    background-color: wheat;
    text-align: center;
}


/*////////////////////  FORMULARE  ////////////////*/
