/* ./src/index.css */
@tailwind base;

    .bg-img {
        background-image: url('./img/footprints.png');
        background-repeat: repeat;
        background-position: center;
    }

    
    .menu {
        height: 100%;
        width: 100%;
        text-align: center;
        color: black;
    }

    .cross {
        background-image: url('./img/plus.svg');
        background-position: center; 
        height: 150px;
        width: 150px;
    }

    .hamburger {
        background-image: url('./img/menu.svg');
        background-position: center; 
        height: 150px;
        width: 150px;
    }

@tailwind components;
    
    .w-404 {
        width: 404px;
    }

    .h-736 {
        height: 736px;
    }

    .menu-links, .menu-bg {
        display: none;
    }

    .menu-links.show {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        transform: ;
    }

    .show-bg {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .h-716 {
        height: 656px;
    }
    
    .bar1.change  {
        -webkit-transform: rotate(-45deg) translate(-8px, 9px);
        transform: rotate(-45deg) translate(-8px, 9px);
      }
      
      .bar2.change  {opacity: 0;}
      
      .bar3.change  {
        -webkit-transform: rotate(45deg) translate(-8px, -9px);
        transform: rotate(45deg) translate(-8px, -9px);
      }


@tailwind utilities;
